@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap");

@font-face {
  font-family: Playlist;
  src: url(Fonts/Playlist\ Script.otf);
}

@font-face {
  font-family: Advent;
  src: url(Fonts/Advent\ Pro\ Extra\ Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.logo {
  width: calc(120 / 1280 * 100vw);
  height: calc(60 / 720 * 100vh);
}

header {
  height: calc((100 / 711) * 100vh);
  width: 100vw;
}

.nav-bar {
  height: calc((100 / 711) * 100vh);
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  border-bottom: 0.1rem solid black;
}

.left-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.right-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-bar a {
  color: black;
  padding: 0 2rem;
  text-decoration: none;
}

.right-bar a:hover {
  color: #f9a7b0;
}

.right-bar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #f9a7b0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.right-bar a:hover::after {
  transform: scaleX(0.5);
}

#button {
  color: black;
  padding: 0 2rem;
  display: none;
}

#button:hover {
  color: #f9a7b0;
}

.right-bar li:last-child {
  /* margin-right: 200px; */
}

/* .button {
  display: none;
} */

.container {
  width: 100vw;
  height: calc((611 / 711) * 100vh);
  margin-bottom: 40px;
  font-size: 20px;
}

.heading-1 {
  text-align: center;
  font-family: Advent;
  font-size: 2em;
  font-weight: 700;
}

.subheading-1 {
  text-align: center;
  font-family: Advent;
  font-size: 1.2em;
  font-weight: 300;
}

.bg-color {
  background-color: #f9a7b0;
}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 500;
}

.about {
  justify-content: space-around;
}



.person {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  height: 80vh;
  border: 0.1rem solid black;
  background-color: #f9a7b0;

}

.person img {
  width: 10vw;
  height: 25vh;
}

.person p {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.text-side h2 {
  font-size: 1.3em;
  padding: 0.2em 0;
}

.text-side p {
  font-size: 0.7em;
}

.img-flex {
  width: calc(460 / 1280 * 100vw);
  height: calc(389 / 720 * 100vh);
}
.services-box {
  gap: 3rem;
}

.left-box {
  display: flex;
  background-color: #f9a7b0;
  width: calc((635 / 1280) * 100vw);
  height: calc(381 / 720 * 100vh);
  border: solid black;
  justify-content: space-between;
  align-items: center;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}

.description-text h3 {
  padding-bottom: 10px;
}

.description-text {
  padding: 0.3rem;
}
.right-box {
  display: flex;
  align-items: center;
}

.services-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.services-text li {
  list-style-type: "-";
  padding: 10px;
  cursor: pointer;
}

.services-box li:hover {
  color: #f9a7b0;
  text-decoration: underline;
}

.hidden-shown {
  display: none;
}

.hidden-shown:nth-of-type(1) {
  display: flex;
}

#hidden-shown {
}

/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #button {
    display: inline-block;
    padding: 0 4rem;
  }

  .right-bar {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
}

/* Mobile */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #button {
    display: inline-block;
    padding: 0 4rem;
  }

  .right-bar {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
}
