@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');

@font-face {
    font-family: Playlist;
    src: url(Fonts/Playlist\ Script.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.logo {
    width: 10em;
    margin-left: 160px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    position: sticky;
}

.right-bar{
    display: flex;
    list-style: none;
}

.right-bar li {
    margin-left: 40px;
    padding-bottom: 1px;
}

.right-bar li:last-child{
    margin-right: 200px;
}

.heading-1 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.subheading-1{
    text-align: center;
    font-family: 35px;
    font-weight: 300;
}

.container {
    background-color:#F9A7B0; 
    margin-top: -20px;
}

.margin {
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.text-side h2{
    padding: 10px 0;
}

.flex-bottom {
    display: flex;
    justify-content: center;
    gap: 5em;
}
/* .top-section {
    display: flex;
    justify-content: space-between;
} */

.img-flex {
    width: 50vh;
}

.container-2 {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 10vh;
}

.left-box {
    display: flex;
    width: 635px;
    height: 381px;
    border: solid black ;
    justify-content: space-between;
}

.description-text {
    display: flex;
    flex-direction: column;
}

.description-text h3 {
    text-align: right;
}
.right-box {
    display: flex;
    align-items: center;
}

.services-text {
    display: flex;
    flex-direction: column;
}

.services-text li {
    list-style-type: "-";
    padding: 10px;
}